<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	<title>VIALVIT</title>
	<script src="https://code.jquery.com/jquery.js"></script> {{!--
	<script src="/assets/js/burgers.js"></script> --}}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	 crossorigin="anonymous"></script>

</head>

<body>
	<script>
		// Initialize and add the map
		function initMap() {
			// The location of Uluru
			var uluru = { lat: -0.257478, lng: -78.545216 };
			// The map, centered at Uluru
			var map = new google.maps.Map(
				document.getElementById('map'), { zoom: 16, center: uluru });
			// The marker, positioned at Uluru
			var marker = new google.maps.Marker({ position: uluru, map: map });
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw7yxyp0-ZWs8k-q5iaxUyKuq1yRpLX3Q&callback=initMap">
	</script> 
	{{{ body }}}
</body>

</html>