
li{padding: 5px;margin: 5px;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* .heading{padding: 1% 20% 1% 5%;} */
.dropdown-toggle,.btn-info{font-size: 24px;}
.heading-vialvit{font-family: 'Merriweather', serif;font-weight: bolder;letter-spacing: 5px;color: rgb(29, 39, 183);font-size: 35px; padding: 0; margin: 0;}
.navbar-light{ background-color: rgb(158, 157, 157);}
.carousel-caption{color:black}
.footer {height:50px;width: 100%;background-color: rgb(185, 185, 185);color: white;text-align: center;line-height: 50px}
.footer-li{padding:0;margin:2px;}
.container-spacing{height:80px}
.container-producto{position: relative;text-align: center}
.centered{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
#map {height: 400px; width: 60%;}
.contacto-div{width: 40%;height: 400px;position: relative;text-align: center;line-height: 40px}